@model Chaperone.Models.User

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>Details</h2>

<div>
    @{ 
        var name = Model.Name;
        var header = name + "'s Profile:";
    }
    <h2 style="text-align:center">@header</h2>
    <hr />
    <dl class="data_table">
        
        
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Languages)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Languages)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Culture)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Culture)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Festival)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Festival)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sports)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sports)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Food)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Food)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NightLife)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NightLife)
        </dd>

    </dl>
</div>
<p>
    
    @Html.ActionLink("Go Back", "Index")
</p>
